@mixin popup {
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 0%;
    width: 600px;
    height: 735px;
    background-color: rgb(204, 196, 177);
    align-items: center;
    align-self: center;
}

@mixin image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

body{
    background-color: #eee;
}

.popup{
    display: none;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    .popupImage {
        @include image();
        height: 600px;
    }
}

#theBody{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    #popupContainer{
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 4;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .theDiv{
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        cursor: pointer;

        .theImage{
            @include image();
        }
        .theTitle{
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }
}

.active{
    @include popup();
}